In [1]:
import pandas as pd
from re import sub
import numpy as np
import seaborn as sns
import math
import statistics

In [2]:
pd.set_option("display.max_columns",None)

In [3]:
df_test=pd.read_csv("vehicle_data_test.csv")

In [4]:
df_test.shape

(24795, 20)

In [5]:
def filter_frequency(frequency_array,threshold):
    filtered_frequency=[]
    for i in frequency_array:
        if i>threshold:
            filtered_frequency.append(i)
    return filtered_frequency

In [6]:
def valuexfrequency_dict(unique_values,column):
    my_dict=dict()
    for i in unique_values:
        my_dict.update({i:column.loc[column==i].count()})
    return my_dict

In [7]:
def auto_accurate_label_encoding_reg(data_frame,column,label):
    my_dict=dict()
    j=1
    for i in pd.unique(data_frame[column]):
        df_i=data_frame[label].loc[data_frame[column]==i]
        i_median=df_i.median()
        my_dict.update({i:i_median+j})
        j=j+0.001
    median_price=np.array([])
    for i in my_dict:
        median_price=np.append(median_price,my_dict.get(i))
    median_price.sort()
    def get_key(val,dictionary):
        for key, value in dictionary.items():
            if val == value:
                return key
    v=1
    for i in median_price:
        data_frame[column].replace(get_key(i,my_dict),v,inplace=True)
        v=v+1
    return data_frame

In [8]:
def remove_column_value_points(value_points,column,dataframe):
    value_point_indexes=[]
    for i in value_points:
        i_index=dataframe[column==i].index
        value_point_indexes.append(i_index)
    for i in value_point_indexes:
        dataframe.drop(i,axis=0,inplace=True)
    return dataframe

In [9]:
def Year_optimize(column,dataframe,current_year):
    df_year=[]
    for i in dataframe[column].values:
        year_value= i - current_year
        df_year.append(year_value)
    df_year=np.array(df_year)
    df_year=pd.DataFrame(df_year,columns=["Year"])
    dataframe.drop(column,axis=1,inplace=True)
    dataframe=pd.concat([df_year,dataframe],axis=1)
    return dataframe

In [10]:
def drop_valuetype_column(column,value_type_name,dataframe):
    value_indexes= dataframe[column].loc[dataframe[column]==value_type].index
    dataframe.drop(value_indexes,axis=0,inplace=True)
    dataframe.reset_index(drop=True,inplace=True)

In [11]:
def threshold_filter(column,data_frame,min_threshold,max_threshold):
    outlier_indexes=np.array([])
    for i in pd.unique(data_frame[column]):
        if i  < min_threshold:
            data_frame=data_frame[data_frame[column]!=i]
        
        elif i > max_threshold:
            data_frame=data_frame[data_frame[column]!=i]
        
        else:
            pass
    return data_frame

In [12]:
def filter_valuexfrequency_dict(my_dict,threshold):
    filtered_values=np.array([])
    for i in my_dict:
        if my_dict.get(i) >= threshold:
            filtered_values=np.append(filtered_values,i)
    return filtered_values

In [13]:
def filter_valuexfrequency_dict(my_dict,threshold):
    filtered_values=np.array([])
    for i in my_dict:
        if my_dict.get(i) >= threshold:
            filtered_values=np.append(filtered_values,i)
    return filtered_values

In [14]:
df_test.head()

,Unnamed: 0,Title,Sub_title,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage,Location,Description,Post_URL,Seller_name,Seller_type,published_date,Price
0,0,Toyota Hilux 2010 for sale,"Posted on 04 Jan 7:56 am, Kelaniya, Gampaha",Toyota,Hilux,NaN,2010,Used,Manual,NaN,Diesel,"2,500 cc","190,000 km","Kelaniya, Gampaha",Toyota hilux smart cab.. Brand new condition..,https://ikman.lk/en/ad/toyota-hilux-2010-for-s...,Mudunkotuwagea Chamara Prasanga Perera,Member,2022-01-04 07:56:00,"Rs 7,500,000"
1,1,Toyota Premio 2011 for sale,"Posted on 03 Sep 7:11 am, Akkarepattu, Ampara",Toyota,Premio,NaN,2011,Used,Automatic,Saloon,Petrol,"1,500 cc","91,700 km","Akkarepattu, Ampara",2nd OwnerYear of registration 2012Running and ...,https://ikman.lk/en/ad/toyota-premio-2011-for-...,Jdm Insaf,Member,2022-09-03 07:11:00,"Rs 10,750,000"
2,2,Nissan X-Trail Hybrid 2015 for sale,"Posted on 08 Oct 11:45 am, Colombo 7, Colombo",Nissan,X-Trail,Hybrid,2015,Used,Automatic,SUV / 4x4,Petrol,"2,000 cc","80,000 km","Colombo 7, Colombo",Nissan XTrail One owner from new CAO REGISTERE...,https://ikman.lk/en/ad/nissan-x-trail-hybrid-2...,Chandima Gooneratne,Member,2022-10-08 11:45:00,"Rs 10,950,000"
3,3,Audi A4 S Line Highest Spec 2018 for sale,"Posted on 27 Nov 8:36 am, Colombo 14, Colombo",Audi,A4,S Line Highest Spec,2018,Used,Automatic,Saloon,Petrol,"1,400 cc","19,000 km","Colombo 14, Colombo",Audi A4 S-Line. Highest Spec !!! Year of Manuf...,https://ikman.lk/en/ad/audi-a4-s-line-highest-...,Salman,Member,2022-11-27 08:36:00,"Rs 16,000,000"
4,4,New-Holland 4710 2016,"Posted by Pramodaya on 2021-10-27 11:27 am, Ku...",New-Holland,4710,NaN,2016,Used,Manual,Tractor,Diesel,-,-,Kuliyapitiya,-,https://riyasewana.com/buy/new-holland-4710-sa...,Pramodaya,Member,2021-10-27 11:27:00,"Rs. 810,000"

In [15]:
#Price
Price_Negotiable_indexes=df_test["Price"].loc[df_test["Price"]==' Negotiable'].index
df_test.drop(Price_Negotiable_indexes,axis=0,inplace=True)
df_test.reset_index(drop=True,inplace=True)
edit_price_array=[]
for i in df_test["Price"].values:
    edit_price_array.append(int(sub(r'\D','',i)))
df_test_price_df=pd.DataFrame(edit_price_array,columns=["Price"])
df_test.drop(df_test[["Price"]],axis=1,inplace=True)
df_test=pd.concat([df_test,df_test_price_df],axis=1)

In [16]:
#Brand
brandxfrequency=list(df_test['Brand'].value_counts())
brandxfrequency.sort(reverse=False)
brandxfrequency_df=pd.DataFrame(brandxfrequency,columns=["Brand_frequency"])
filtered_brandxfrequency=filter_frequency(brandxfrequency,1500)
brand_dict=valuexfrequency_dict(pd.unique(df_test["Brand"]),df_test["Brand"])
filtered_brand_dict=[]
for i in pd.unique(df_test["Brand"]):
    filtered_brand_dict.append(brand_dict.get(i))
filtered_brand_dict.sort(reverse=True)
for i in pd.unique(df_test["Brand"]):
    if brand_dict.get(i) < 1500:
        df_test.drop(df_test.loc[df_test["Brand"]==i].index,axis=0,inplace=True)
df_test.reset_index(drop=True,inplace=True)
df_test=auto_accurate_label_encoding_reg(df_test,"Brand","Price")

In [17]:
#Fuel
fuel_remove=['CNG','Electric', 'Gas','Kick', 'Kick / Electric', 
             'Other fuel type']
fuel_remove_indexes=[]
for i in fuel_remove:
    index=df_test[df_test["Fuel"]==i].index
    fuel_remove_indexes.append(index)
for i in fuel_remove_indexes:
    df_test.drop(i,axis=0,inplace=True)
df_test.reset_index(drop=True,inplace=True)
df_test=auto_accurate_label_encoding_reg(df_test,"Fuel","Price")

In [18]:
#Year
filter_Year_values=[ 2561,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,
                    2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,
                    1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,
                    1978,1977,1976,1975,1974,1973,1972,1971,1970,1969,1968,
                    1967,1966,1965,1964,1963,1960,1956,1955,1952,1948,1936,1922,1900,0,]
df_test=remove_column_value_points(filter_Year_values,df_test["Year"],df_test)
df_test.reset_index(drop=True,inplace=True)
df_test=Year_optimize("Year",df_test,2022)

In [19]:
#Condition
df_test['Condition'] = df_test['Condition'].replace(['Recondition'],'Reconditioned')
Condition_e_indexes=df_test["Condition"].loc[df_test["Condition"]=='e'].index
df_test.drop(Condition_e_indexes,axis=0,inplace=True)
df_test.reset_index(drop=True,inplace=True)
df_test["Condition"]=df_test["Condition"].replace(['Used', 'Reconditioned', 'New'],[0,1,2])

In [20]:
#Transmission
def replace_valuetype_column(column,value_type_name,dataframe):
    value_indexes= dataframe[column].loc[dataframe[column]==value_type_name].index
    dataframe.drop(value_indexes,axis=0,inplace=True)
    dataframe.reset_index(drop=True,inplace=True)
replace_valuetype_column("Transmission","Other transmission",df_test)
df_test["Transmission"]=df_test["Transmission"].replace(["Manual","Automatic","Tiptronic"],[0,1,2])

In [21]:
#Body
df_test["Body"]=df_test["Body"].fillna('Car')
Bodyxfrequency=list(df_test['Body'].value_counts())
Bodyxfrequency.sort(reverse=False)
filtered_bodyxfrequency=filter_frequency(Bodyxfrequency,1500)
body_dict=valuexfrequency_dict(pd.unique(df_test["Body"]),df_test["Body"])
filtered_body_dict=[]
for i in pd.unique(df_test["Body"]):
    filtered_body_dict.append(body_dict.get(i))
filtered_body_dict.sort(reverse=True)
for i in pd.unique(df_test["Body"]):
    if body_dict.get(i) < 1500:
        df_test.drop(df_test.loc[df_test["Body"]==i].index,axis=0,inplace=True)
filtered_body_dict_complement=['MPV','Van', 'Station wagon', 'Lorry',
       'Unregistered', 'Pickup', 'Convertible', 'Bus', 'CoupÃ©/Sports',
       'Heavy-Duty', 'Wagon', 'Cab', 'Tractor']
df_test_body_=df_test[["Body"]]
body_outlier_indexes=[]
for i in filtered_body_dict_complement:
    indexes_outliers=(df_test_body_[df_test_body_["Body"]==i]).index
    body_outlier_indexes.append(indexes_outliers)

for i in body_outlier_indexes:
    df_test.drop(i,axis=0,inplace=True)
df_test=auto_accurate_label_encoding_reg(df_test,"Body","Price")

In [22]:
#Capacity
df_test=df_test[df_test["Capacity"].notna()]
outlier=["-","Manual","Automatic"]
for i in outlier:
    df_test=df_test[df_test["Capacity"]!=i]
df_test.reset_index(drop=True,inplace=True)
df_test_capacity=np.array([])
for i in df_test["Capacity"].values:
    i=sub(r'\D','',i)
    df_test_capacity=np.append(df_test_capacity,i)
df_test.drop("Capacity",axis=1,inplace=True)
df_test_capacity=pd.DataFrame(df_test_capacity,columns=["Capacity"])
df_test=pd.concat([df_test_capacity,df_test],axis=1)
for i in df_test["Capacity"].values:
    try:
        float(i)
    except:
        index=df_test[df_test["Condition"]==i].index
        df_test.drop(index,axis=0,inplace=True)
        print(index)
    else:
        pass
for i in pd.unique(df_test["Capacity"].values):
    df_test["Capacity"]=df_test.Capacity.replace(i,float(i))
df_test=threshold_filter("Capacity",df_test,60,5000)

In [23]:
# Mileage
df_test=df_test[df_test["Mileage"].notna()]
remove=["-","Automatic","Manual","km"]
remove_indexes=np.array([])
for i in remove:
    index=df_test.loc[df_test["Mileage"]==i].index
    remove_indexes=np.append(remove_indexes,index)
df_test.drop(remove_indexes,axis=0,inplace=True)
for i in pd.unique(df_test["Mileage"]):
#     print(i)
    changed_i=sub(r'\D','',i)
    df_test.Mileage.replace(i,float(changed_i),inplace=True)
df_test=threshold_filter("Mileage",df_test,50,300000)

In [24]:
#Seller type
df_test.Seller_type.replace(['Member', 'Premium-Member'],[0,1],inplace=True)

In [25]:
#Model
my_dict=valuexfrequency_dict(pd.unique(df_test["Model"]),df_test["Model"])
filtered_values=filter_valuexfrequency_dict(my_dict,100)
my_dict=valuexfrequency_dict(filtered_values,df_test["Model"])
for i in pd.unique(df_test["Model"]):
    if i in filtered_values:
        pass
    else:
        df_test=df_test[df_test["Model"]!=i]
df_test.reset_index(drop=True,inplace=True)
df_test=auto_accurate_label_encoding_reg(df_test,"Model","Price")

In [26]:
#Scaling Down
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xyz=sc.fit_transform(df_test[["Price","Capacity","Mileage",]])
df_scaled_columns=pd.DataFrame()
df_scaled_columns= pd.DataFrame(xyz, columns = ["Price","Capacity","Mileage",])
df_test=df_test.drop(["Price","Capacity","Mileage"],axis=1)
df_test=pd.concat([df_test,df_scaled_columns],axis=1)

In [27]:
#Dropping
for i in ['published_date', "Seller_name", "Post_URL", "Description", "Location", "Edition",
           "Sub_title", "Title", 'Unnamed: 0','Model']:
    df_test.drop(i,axis=1,inplace=True)
df_test.drop(["Seller_type","Condition"],axis=1,inplace=True)

In [28]:
df_test.shape

(2920, 8)

In [29]:
#Sending the file 
df_test.to_csv("vehicle_testdata_preprocessed.csv")